@import "tailwindcss";

/* make the default container narrower */
@layer components {
  .container {
    /* enforce 1140px width for every container */
    max-width: 1140px !important;
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-scroll {
  animation: scroll 20s linear infinite;
}
